.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0 10%;
    color: #8AA1B1;
    background-color: #050423;
}

.hero_content {
    max-width: 50%;
}

.hero_content h1 {
    font-size: clamp(2rem, 3.5vw, 4rem);
    color: #B5FFE9; 
    margin-bottom: 10px;
}

.hero_content h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    margin-bottom: 20px;
    color: white;
}

.hero_content p {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5;
    margin-bottom: 30px;
}

#hero-canvas{
    height: 500px;
    width: 40%;
    max-width: 500px;
    aspect-ratio: 1/1;
}

